accelerate==0.29.3
datasets==2.18.0
evaluate==0.4.1
nltk==3.8.1
numpy==2.0.0
pandas==2.2.2
peft==0.11.1
PubChemPy==1.0.4
rdkit==2023.9.5
regex==2024.4.16
Requests==2.32.3
scikit_learn==1.4.2
statsmodels==0.14.2
torch==2.3.0
tqdm==4.66.2
transformers==4.42.0.dev0
tensorboard==2.16.2
trl==0.8.7.dev0
wget==3.2
flash_attn==2.5.9.post1
openai>=1.68.0
